.code-view {
  background: #FFFFFF;
  color: #3A0000;
  font-family: Consolas, Arial;
  font-size: 16px;
  padding: 3px 2px 10px 2px;
  margin: 0;
}
.code-view.code-view-no-wrap {
  overflow-x: auto;
  white-space: nowrap;
}
.code-view br::selection,
.code-view div::selection,
.code-view span::selection {
  background: #E1EDFF;
}
.code-view br::-moz-selection {
  background: #E1EDFF;
}
.code-view div::-moz-selection {
  background: #E1EDFF;
}
.code-view span::-moz-selection {
  background: #E1EDFF;
}
.code-view div.line,
.code-view div.comment {
  position: relative;
  padding: 2px 10px;
  min-height: 20px;
}
.code-view div.comment {
  color: #00C195;
}
.code-view span.code-view-color-1 {
  color: #D8083A;
}
.code-view span.code-view-color-2 {
  color: #3A3CFF;
}
.code-view span.code-view-color-3 {
  color: #0000B6;
}
.code-view span.code-view-color-4 {
  color: #5896FC;
}
.code-view span.code-view-color-1 span.code-view-color-2 {
  color: #D8083A;
}
.code-view span.code-view-color-1 span.code-view-color-3 {
  color: #D8083A;
}
.code-view span.code-view-color-1 span.code-view-color-4 {
  color: #D8083A;
}
